<h1 mat-dialog-title>Create Issue</h1>

<form mat-dialog-content [formGroup]="issueForm" (ngSubmit)="submit()">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      name="title"
      required
      minlength="2"
      formControlName="title"
    />
    <mat-error *ngIf="title.invalid">
      {{ title.errors! | appErrors }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      name="description"
      formControlName="description"
    ></textarea>
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button (click)="submit()" mat-raised-button color="primary">Submit</button>
  <button
    *ngIf="dialogRef"
    (click)="cancel()"
    mat-raised-button
    type="button"
    color="secondary"
  >
    Cancel
  </button>
</div>
