<h1>Issues</h1>

<mat-accordion>
  <mat-expansion-panel *ngFor="let issue of (issues | async)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ issue.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ issue.description }}</p>
    <mat-action-row>
      <button mat-icon-button [routerLink]="['/', 'issues', issue.id]">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button (click)="startEditIssue(issue)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<button
  mat-fab
  color="primary"
  aria-label="Create new issue"
  class="button--action"
  (click)="startCreateIssue()"
>
  <mat-icon>add</mat-icon>
</button>
